name: My GitHub Action

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy
        working-directory: new/src
        run: sudo docker build -t nodeapp:v1.1.5 .
      - name: run immage
        run: sudo docker run -d -p 3000:1200 nodeapp:v1.1.5
