name: My GitHub Action

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    environment: usernmae
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Deploy
        working-directory: new/src
        run: sudo docker build -t nodeapp:v1.1.5 .
      - name: login to docker hub
        run: sudo docker login -u ${{secrets.UNAME}} -p ${{secrets.PASS}}
      - name: push image to docker registry
        run: sudo docker push pavankagupati2001/pavanrepo:v1.1.5
     
